{% if id_eurosolution %}
    <span class="badge badge-success" style="font-size: 1.0rem; border-radius: 5px;">{{ id_eurosolution }}</span>
{% else %}
    <span class="badge badge-warning" style="font-size: 1.0rem; border-radius: 5px;">--</span>
{% endif %}